@import url("https://fonts.googleapis.com/css2?family=Arimo&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@700&display=swap');
#wraper {
  width: 1192px;
  margin: 0 auto;
  background-color: #3a4965;
}
table {
  border: 30px solid #3a4965;
  border-collapse: collapse;
}
td {
  width: 330px;
  height: 85px;
  font-family: 'Arimo';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  border-right: 2px solid #dadada;
  padding: 4px 7px;
  color: #484848;
  text-align: center;
  background: #fafafa;
  position: relative;
}
.money {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 28px;
}
.coins {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #484848; 
  position: absolute;
  top: 5px;
}
.month {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #484848;
}
td i {
  font-size: 24px;
  left: 50px;
  color: #848484;
  position: absolute;
}
.light-coloured td {
  background: #F2F2F2;
}
.grey td {
  background: #E3E3E3;
}
th {
  width: 280px;
  height: 72px;
  font-family: "Arimo";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  border: 1px solid #000;
  padding: 4px 7px;
  color: #484848;
  background: #fafafa;
}
tr:nth-child(1n + 1) {
  clear: left;
}
.green {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  background: #89c331;
  color: #fff;
}
.red {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 28px;
  background: #f04a56;
  color: #fff;
}
.turguoise {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  background: #20807c;
  color: #fff;
}
.darkgray {
  background: #484848;
  color: #fff;
}
.button {
  position: relative;
}
.dark-grey {
  background: #DDDDDD;
}
.light-gray {
  background: #EEEEEE;
}
.light-light-gray {
  background: #F4F4F4;
}
.buy-now {
  width: 190px;
  height: 50px;
  border-width: 1px 1px 7px 1px;
  border-style: solid;
  border-radius: 5px;
  position: absolute;
  left: 50px;
  top: 15px;
}
.buy-now.darkgray {
  border-color: #404040;
}
.buy-now.green {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  border-color: #79b027;
}
.buy-now.red {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  border-color: #df3a46;
}
.buy-now.turguoise {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  border-color: #16736f;
}
