@import "mixin";

.subscriptio-pricing {
    width: 100%;
    background-color: #4a3b4e;
    @media screen and (min-width: 768px) { 
    } 
}
.subscriptio-pricing__title {
    max-width: 80%;
    margin: 0 auto;
    @include font-Montserrat;
    font-size: 1.75em; //28px//
    line-height: 2.625em; //42px;//
}
.container-card {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @media screen and (min-width: 768px) {
        margin-bottom: 94px;
      }
    @media screen and (min-width: 1200px) {
        margin-bottom: 61px;
      }
}
.card {
    margin-bottom: 18px;
    width: 257px;
    height: 460px;
    border-style: solid;
    background-color: #655468;
    mix-blend-mode: normal;
        @media screen and (min-width: 768px) {
            margin-bottom: 30px;
            margin-right: 18px;
        }
         @media screen and (min-width: 1200px) {
            margin-right: 15px;
            margin-top: 51px;
        }
}
.card-min {
    @media screen and (min-width: 768px) {
       margin-top: 51px;
    }
    @media screen and (min-width: 1200px) {
        margin-top: 51px;
      }
}
.card-agency {
    width: 299px;
    height: 560px;
    background: #48334b;
    @media screen and (min-width: 1200px) {
        margin-top: 0px;
      }
}
.container-button-purchase {
    margin: 0 auto;
    width: 163px;
}

.button-purchase {
    width: 163px;
    height: 45px;
    margin-top: 37px;
    margin-bottom: 67px;
    background: #746a78;
    mix-blend-mode: normal;
    border-radius: 20px;
    border: solid #746a78;
}
.button-purchase-agency {
    margin-top: 83px;
    margin-bottom: 47px;
}
.purchase {
    @include font-Montserrat;
    text-transform: uppercase;
    font-size: 0.9375em; //15px;//
    line-height: 0.9375em; //15px;//
}
.discont-package-agency {
    width: 299px;
    @include block-discont;
    background-color: #3f2c41;
}
.discont-package {
    width: 257px;
    @include block-discont;
}
.package {
    @include font-Montserrat;
    padding-top: 30px;
    font-weight: 400;
    font-size: 1.5em; //24px;/
    line-height: 1.5em; //24px//
}
.price {
    margin-top: 30px;
    @include font-Montserrat;
    font-size: 3.75em; //60px;//
    @media screen and (min-width: 768px) {
        margin-top: 31px;
    } 
}
.price-agency {
    margin-top: 14px;
    font-size: 5.125em; //82px;//

}
.month {
    margin-top: 20px;
    margin-bottom: 38px;
    @include font-Montserrat;
    font-size: 0.875; //14px;//
    line-height: 1em; //16px;//
    @media screen and (min-width: 768px) {
        margin-bottom: 37px;
    } 
}
.month-agency {
    margin-top: 16px;
    margin-bottom: 46px;
}
.burger-box {
    margin: 0 auto;
    width: 60px;
    height: 5px;
}

.burger-line {
    width: 60px;
    height: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #8D81AC;
}
.license-end-support {
    margin-top: 30px;
    width: 100%;
    height: 44px;
}
.license-end-support-agency {
    margin-top: 40px;
}
.license-end-support__item {
    @include font-Montserrat;
    font-size: 1em; //16px;//
    line-height: 1.125em; //18px;//
}

