@import "mixin";

.box-content {
    max-width: 100%;
    margin-top: 32px;
    @media screen and (min-width: 768px) {
        margin-top: 62px;
    }
    @media screen and (min-width: 1200px) {
        margin-top: 95px;
        background-color: #f4f4f4;
    }
}
.block-title {
    max-width: 70%;
    margin: 0 auto;
    display: flex;
    margin-bottom: 36px;
    @media screen and (min-width: 768px) {
        margin-bottom: 50px;
    }
    @media screen and (min-width: 1200px) {
        display: none;
    }
}
.title-here-is-what {
    @include font-Montserrat;
    font-size: 2em; //32px;//
    line-height: 2.375em; //38px;//
    color: #8D81AC;
    @media screen and (min-width: 768px) {
        font-size: 2.625em; //42px//
        line-height: 2.75em; //44px;//
    }
    @media screen and (min-width: 1200px) {
        max-width: 100%;
        font-size: 3em; //48px//
        line-height: 3.125em; //50px;//
    }
}
.box-menu {
    max-width: 90%;
    margin: 0 auto;
    @media screen and (min-width: 1200px) {
        margin-top: 98px;
    }
}
.tile-menu {
    margin-bottom: 38px;
        @media screen and (min-width: 768px) {
            display: flex;
            margin-bottom: 58px;
        }
        @media screen and (min-width: 1200px) {
            margin-bottom: 34px;
        }
        &__icon {
            margin: 0 auto;
            width: 111px;
            height: 85px;
            margin-bottom: 21px;
            @media screen and (min-width: 768px) {
                margin-right: 28px;
            }
            @media screen and (min-width: 1200px) {
                margin-right: 24px;
            }
        }
        &__boxing-text {
            max-width: 90%;
            margin: 0 auto
        }
        &__item {
            @include font-Montserrat;
            font-weight: 400;
            font-size: 1em; //16px
            line-height: 1em; //16px
            text-align: center;
            color: #323232;
            @media screen and (min-width: 768px) {
                line-height: 1.3125em; //21px;//
                text-align: left;
            }
            @media screen and (min-width: 1200px) {
                display: flex;
            }
        }
        &__text {
            margin-top: 14px;
            @include font-lato;
            font-size: 0.875em; //14px
            line-height: 1.5em; //21px
            text-align: center;
            color: #848E97;
            @media screen and (min-width: 768px) {
                font-size: 1em; //16px;//
                text-align: left;
            }
            @media screen and (min-width: 1200px) {
                max-width: 100%;
            }
        }
}
.imeges {
    max-width: 100%;
    @media screen and (min-width: 1200px) {
        display: none;
    }
}
.content {
    @media screen and (min-width: 1200px) {
        max-width: 100%;
        display: flex;
    }
}
.block-left {
    @media screen and (min-width: 1200px) {
        max-width: 50%;
    }
}
.block-right {
    display: none;
    @media screen and (min-width: 1200px) {
        display: block;
        max-width: 50%;
    }
    &__title {
        @media screen and (min-width: 1200px) {
            display: block;
            max-width: 100%;
        }
    }
}