@import "mixin";

.revolutionary-editor {
    &__title {
        max-width: 80%;
        margin: 0 auto;
        margin-top: 80px;
        margin-bottom: 23px;
        @include font-Montserrat;
        font-size: 1.625em; //26px;//
        line-height: 1.75em; //28px;//
        text-align: center;
        color: #635C73;
        @media screen and (min-width: 768px) {
            font-size: 2.625em; //42px
            line-height: 2.625em; //42px
            margin-top: 94px;
            margin-bottom: 33px;
        }
        @media screen and (min-width: 1200px) {
            font-size: 3.3755em; //54px
            line-height: 3.3755em; //54px
            margin-top: 100px;
            margin-bottom: 35px;
        }
    }
    &__text {
        max-width: 70%;
        margin: 0 auto;
        @include font-lato;
        font-size: 0.875em; //14px;//
        line-height: 1.25em; //20px;//
        color: #323232;
        margin-bottom: 36px;
        @media screen and (min-width: 768px) {
            max-width: 80%;
            font-size: 1.3125em; //21px
            line-height: 2em; //32px;//
            margin-bottom: 24px;
        }
        @media screen and (min-width: 1200px) {
            max-width: 70%;
            margin-bottom: 13px;
        }
    }
    &__menu {
        max-width: 70%;
        margin: 0 auto;
        margin-bottom: 88px;
        @media screen and (min-width: 768px) {
            margin-bottom: 95px;
        }
        @media screen and (min-width: 1200px) {
            margin-bottom: 70px;
        }
    }
}
.box-button {
    margin: 0 auto;
    max-width: 320px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        max-width: 70%;
    }
    @media screen and (min-width: 1200px) {
        display: flex;
        justify-content: space-between;
        max-width: 45%;
    }
}
.github-button {
    display: flex;
    justify-content: space-between;
    @include font-lato;
    width: 110px;
    height: 25px;
    border-radius: 3px;
    margin: 5px;
    &__item {
        display: flex;
        justify-content: space-between;
    }
    &__text {
        font-size: 0.625; //10px;//
    }
    &__number {
        font-size: 0.625; //10px;//
        padding-left: 2px;
    }
}
