@mixin font-Montserrat {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #FFFFFF;
    text-align: center;
}
@mixin font-lato {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

@mixin block-discont {
    height: 97px;
    left: 0px;
    top: 0px;
    background-color: #6a5c6c;
    mix-blend-mode: normal;
}
