@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap');


@import "reset";
@import "mixin";
@import "_revolutionary-editor";
@import "_features";
@import "_block-price";

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0px;
}