ul {
    list-style: none;
    padding-left: 0;
}

.centered-content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tabs-content {
    margin-top: 20px;
}
.tabs {
    display: flex;
}

.tab {
    max-width: 70%;
    margin: 0 auto;
    text-align: center;
    display: none;
}

.active {
    display: flex;
}

.tabs-title {
    padding: 20px;
    background-color: #23201D;
    color: #937341;
    cursor: default;
}

.tabs-title.active {
    background-color:#937341 ;
    color: #23201D;
    cursor: pointer;
}
