@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
body {
   background-color: #14131A;
   color: #ffffff;
   font-family: "Roboto", sans-serif;
   padding-top: 40px;
}
.container {
   /* max-width: 1140px; */
   width: 90%;
   margin: 0 auto;
}
.header {
   display: flex;
   align-items: center;
   margin-bottom: 80px;
}
.logo-link {
   display: inline-block;
   margin-right: 50px;
}
.logo-image {
   width: 46px;
   height: 71px;
}
.menu-button {
   display: none;
}
.nav-menu {
   width: 321px;
   height: 16px;
   list-style: none;
   display: flex;
   justify-content: space-between;  
}
.nav-menu-link {
   text-decoration: none;
   font-size: 14px;
   line-height: 16px;
   color: rgba(255, 255, 255, 0.5);
}
.film-data {
   display: block;
   font-size: 24px;
   line-height: 28px;
   margin-bottom: 2%;
   color: rgba(255, 255, 255, 0.8);
}
.film-logo {
   margin-bottom: 40px;
   width: 60%;
}
.film-logo-item {
   margin-top: 3%;
   font-size: 100px;
   color: #ffffff;
   font-weight: 700px;
}
.film-description {
   max-width: 423px;
   font-size: 16px;
   line-height: 140%;
   color: rgba(255, 255, 255, 0.8);
}
.button-grup {
   margin-top: 5%;
   display: flex;
}
.button-primary {
   color: #8D0019;
   background-color: #ffffff;
}
.button-icon,
.button-text {
   display: inline-block;
   vertical-align: middle;
}
.button-icon {
   width: 15px;
}
.button-text {
   font-size: 14px;
   line-height: 16px;
   margin-left: 10px;
}
.button-link {
   color: #ffffff;
}
.button {
   padding: 15px 30px;
   text-decoration: none;
   border-radius: 5px;
   border: none;
   cursor: pointer;
}
.venom {
   position: absolute;
   top: 0;
   right: 0;
   max-width: 726px;
   width: 40%;
}
.blood {
   background: url(../img/blood.png) no-repeat top right / 70%, #14131A url('../img/bacgraund.jpg') no-repeat center center / 100%;

}
.burger  {
   width: 44px;
   height: 37px;
   display: block;
   margin-left: 87%;
   position: relative;
   background-color: #831a1a;
   z-index: 3;
}
.menu-burger_item::before,
.menu-burger_item::after {
   content: "";
   position: absolute;
   width: 17px;
   height: 2px;
   margin: 13px 13px 2px 13px;
   z-index: 2;
   background-color :rgb(45, 23, 59);
}
.menu-burger_item::before {
   top: 13px;
}
.menu-burger_item::after {
   bottom: 13px;
}

@media (max-width: 768px) {
   .blood {
      background: #14131A;
   }
   .venom {
      margin-top: 10%;
   }
   .film-logo-item {
      font-size: 90px;
   }
}
@media (max-width: 576px) {
   .nav-menu {
      display: none;
   }
   .menu-button {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
   }
}