@import "mixin-fonts";

.header {
    width: 90%;
    height: 37px;
    margin: 0 auto;
    &__menu {
        width: 182px;
        height: 208px;
        display: none;
        background-color: #f5f5f5;
        @media screen and (min-width: 768px) {
            display: block;
            margin: 0 auto;
            width: 80%;
            height: 37px;
            background-color:#fff;
        }
        @media screen and (min-width: 1200px) {
            display: block;
            width: 70%;
        }
    }
    &__list {
        display: block;
        margin: 15px;
    }
        &__list li {
            padding: 0px 0px 12px 0px; 
            cursor: pointer;
            }
    &__link {
        text-decoration: none;
        color: #4e4e4e;
    }
    &__link:hover {
        color: #57a4a4;
    }
    @media screen and (min-width: 768px) {
        width: 100%;
        margin: 0 auto;
        height: 37px;
        align-items: center;
        margin-top: 41px;
        margin-bottom: 43px;
        &__body {
            position: relative;
        }
        &__list {
            height: 37px;
            display: flex;
            justify-content: space-between;
            align-items: center;  
            }
 }
    &__burger {
        width: 44px;
        height: 37px;
        display: block;
        margin-left: 87%;
        position: relative;
        background-color: #000000;
        z-index: 3;
        @media screen and (min-width: 768px) {
            margin-left: 0px;
            display: none;
        } 
        &__item::before,
        &__item::after {
            content: "";
            position: absolute;
            width: 17px;
            height: 2px;
            margin: 13px 13px 2px 13px;
            z-index: 2;
            background-color :#fff;
        }
        &__item::before {
            top: 13px;
        }
        &__item::after {
            bottom: 13px;
        }
        &__a {
            position: absolute;
            background-color: #fff;
            width: 17px;
            height: 2px;
            left: 0;
            margin: 13px 13px 2px 13px;
        }
    }       
}
.header__menu.active {
    display: block;
    position: absolute;
    margin-left: 40%;
}
.header-image {
        max-width: 90%;
        height: 500px;
        margin: 0 auto;
        background-image: url(../img/background/intro-img.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 23px;
        margin-bottom: 38px;
        @media screen and (min-width: 768px) {
            margin-top: 43px;
            margin-bottom: 50px;
        }
        @media screen and (min-width: 1200px) {
            margin-top: 45px;
            margin-bottom: 66px;
        }
}
