@import "mixin-fonts";

.title-posts {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 23px;
}
.post {
    width: 90%;
    margin: 0 auto;
    @include font-Roboto;
    @media screen and (min-width: 1200px) {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
    }
    &__tile {
        font-weight: 700;
        font-size: 1em; //16px//
        line-height: 1.875em; //30px//
        color: #4e4e4e;
        @media screen and (min-width: 768px) {
           display: flex;
        }
        @media screen and (min-width: 1200px) {
            max-width: 50%;
            display: flex;
            flex-wrap: wrap;
        }
    }
    &__imeges {
        width: 160px;
        height: 140px;
        @media screen and (min-width: 768px) {
            margin-right: 21px;
            margin-bottom: 32px;
        }
        @media screen and (min-width: 1200px) {
            margin-right: 21px;
            margin-bottom: 32px;
        }
    }
    &__text {
        margin-top: 11px;
        margin-bottom: 29px;
        @media screen and (min-width: 768px) {
        max-width: 60%;
        }  
    }
    &__comments {
        font-size: 0.75em; //12px//
        line-height: 1.25em; //20px//
        color: #7c7c7c;
    }
    &__paragraph {
        display: none;
        font-size: 0.875em; //14px//
        line-height: 1.625em; //26px//
        color: #5c5c5c;
        @media screen and (min-width: 768px) {
            display: flex;
        }
        @media screen and (min-width: 1200px) {
            display: flex;
        }
    }
}

.box-instagram {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 42px;
    @media screen and (min-width: 768px) {
        background-color: #c9c9c9;
        padding-bottom: 50px;
    }
    &__title {
        width: 90%;
        margin: 0 auto;
        padding-bottom: 8px;
        padding-top: 38px;
        font-size: 1em; //16px//
        line-height: 1.375em; //22px//
        color: #4e4e4e;
        @media screen and (min-width: 768px) {
            padding-top: 47px;
            padding-bottom: 35px;
            display: flex;
            justify-content: space-between;
        }
        @media screen and (min-width: 768px) {
            padding-top: 47px;
            padding-bottom: 24px;
        }
    }
    &__imeges {
        max-width: 90%;
        height: auto;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        @media screen and (min-width: 768px) {
            display: flex;
            justify-content: space-between;
        }
        &__post-2 {
            display: none;
            @media screen and (min-width: 768px) {
                display: flex;
                justify-content: space-between;
        }
    }
        &__post-4 {
            display: none;
            @media screen and (min-width: 1200px) {
                display: flex;
                justify-content: space-between;
            }
        }
    }
}
.instagram-right {
    display: none;
    @media screen and (min-width: 768px) {
        display: block;
    }
}