<div class="container">
    <footer class="footer">
        <div class="footer__container">
        <h1 class="footer__title">- GET IN TOUCH WITH US -</h1>
            <p class="footer__text">
                Maecenas faucibus molli interdum. Cras mattis consectetur 
                purus sitor amet sed donec malesuada ullamcorper odio. Curabitur 
                blandit tempus porttitor vollisky inceptos mollisestor.
            </p>
            <div class="icon">
                <div class="icon__item orang">
                    <img class="icon__item__img" src="./img/icon/rss-icon.png" alt="">
                </div>
                <div class="icon__item dark-blue">
                    <img class="icon__item__img" src="./img/icon/facebook-icon.png" alt="">
                </div>
                <div class="icon__item blue">
                    <img class="icon__item__img" src="./img/icon/twitter-icon.png" alt="">
                </div>
                <div class="icon__item pink">
                    <img class="icon__item__img" src="./img/icon/dribbble-icon.png" alt="">
                </div>
                <div class="icon__item red">
                    <img class="icon__item__img" src="./img/icon/pinterest-icon.png" alt="">
                </div>
            </div>
            <p class="footer__contacts">
                Moonshine St. 14-05 Light City   /   T. +00 (123) 456 78 90   /   first.last@email.com
            </p>
        </div>
    </footer>
</div>