<div class="container">
    <header class="header">
        <div class="wrapper">
            <div class="header__body">
                <div class="header__burger">
                    <span class="header__burger__item"></span>
                    <span class="header__burger__a"></span>
                </div>
                    <nav class="header__menu">
                        <ul class="header__list">
                            <li>
                                <h1 class="header__link">$55</h1>
                                <p>annual target price of dolutegravir regimen per person per year in resource-limited settings</p>
                            </li>
                            <li>
                                <h1 class="header__link">94</h1>
                                <p>annual target price of dolutegravir regimen per person per year in resource-limited settings</p>
                            </li>
                            <li>
                                <h1 class="header__link">3</h1>
                                <p>annual target price of dolutegravir regimen per person per year in resource-limited settings</p>
                            </li>
                            <li>
                                <h1 class="header__link">7 - 10</h1>
                                <p>annual target price of dolutegravir regimen per person per year in resource-limited settings</p>
                            </li>
                            <li>
                                <h1 class="header__link">15 M</h1>
                                <p>annual target price of dolutegravir regimen per person per year in resource-limited settings</p>
                            </li>
                        </ul>
                    </nav>
            </div>
        </div>  
    </header>
        <div class="header-image"></div>   
</div>