@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Bevan&family=Open+Sans&family=Roboto&family=Roboto+Slab&display=swap');

body {
    background-color: black;
    font-family: 'Berkshire Swash', cursive;
}
.title {
    margin: 0 auto;
    position: absolute;
    width: 800px;
    height: 1000px;
    bottom: 0;
    left: 20%;
    text-align: center;
    transform-origin: 50% 60%;
    transform: perspective(300px) rotateX(15deg);
    overflow: hidden;
}
.text {
    color: rgb(228, 19, 19);
    font-size: 50px;
    position: absolute;
    top: 50%;
    animation: scroll 30s linear infinite;
}
@keyframes scroll {
    from { top: 100%; }
    to { top: -50%; }
}
.audio {
   background-color: rgb(228, 19, 19);
}