<div class="container">
    <div class="subscriptio-pricing">
        <h2 class="subscriptio-pricing__title">Fork Subscription Pricing</h2>
            <div class="container-card">
                <div class="card">
                    <div class="discont-package">
                        <h1 class="package">STUDENTS</h1>
                    </div>
                        <h1 class="price">$29</h1>
                            <p class="month">PER MONTH</p>
                        <div class="burger-box">
                            <span class="burger-line"></span>
                        </div>
                            <div class="license-end-support">
                                <p class="license-end-support__item">Personal License</p>
                            </div>
                                <div class="container-button-purchase">
                                    <button class="button-purchase">
                                        <span class="purchase">purchase</span>
                                    </button>
                                </div>
                </div>
                <div class="card">
                    <div class="discont-package">
                        <h1 class="package">PROFESSIONAL</h1>
                    </div>
                        <h1 class="price">$59</h1>
                        <p class="month">PER MONTH</p>
                            <div class="burger-box">
                                <span class="burger-line"></span>
                            </div>
                                <div class="license-end-support">
                                    <p class="license-end-support__item">Personal License</p>
                                    <p class="license-end-support__item">Email Support</p>
                                </div>
                                    <div class="container-button-purchase">
                                        <button class="button-purchase">
                                            <span class="purchase">purchase</span>
                                        </button>
                                    </div>
                </div>
                <div class="card card-agency">
                    <div class="discont-package-agency">
                        <h1 class="package">AGENCY</h1>
                    </div>
                        <h1 class="price price-agency">$99</h1>
                        <p class="month month-agency">PER MONTH</p>
                            <div class="burger-box">
                                <span class="burger-line"></span>
                            </div>
                            <div class="license-end-support license-end-support-agency">
                                <p class="license-end-support__item">Team Members</p>
                                <p class="license-end-support__item">Phone Support</p>
                            </div>
                                <div class="container-button-purchase">
                                    <button class="button-purchase button-purchase-agency">
                                        <span class="purchase">purchase</span>
                                    </button>
                                </div>
                </div>
                <div class="card card-min">
                    <div class="discont-package">
                        <h1 class="package">ENTERPRISE</h1>
                    </div>
                        <h1 class="price">$159</h1>
                        <p class="month">PER MONTH</p>
                            <div class="burger-box">
                                <span class="burger-line"></span>
                            </div>
                                <div class="license-end-support">
                                    <p class="license-end-support__item">Unlimited Team Members</p>
                                    <p class="license-end-support__item">24/ 7 Phone Support</p>
                                </div>
                                <div class="container-button-purchase">
                                    <button class="button-purchase">
                                        <span class="purchase">purchase</span>
                                    </button>
                                </div>
                </div>
            </div>
    </div>
</div>
