<div class="container">
    <div class="box-content">
        <div class="block-title">
            <h1 class="title-here-is-what">Here is what you get</Here></h1>
        </div>
            <div class="content">
                <div class="block-left">
                    <div class="box-menu"> 
                        <div class="tile-menu">
                            <div class="tile-menu__icon">
                                <img src="./img/icon/icon1.png" alt="">
                            </div>
                                <div class="tile-menu__boxing-text">
                                        <h3 class="tile-menu__item">Creatred to Make The Web Better</h3>
                                            <p class="tile-menu__text"> Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui
                                                    laoreet vulputate dignissim. Sed id metus id quam auctor molestie eget ut augue.
                                            </p>
                                </div>
                        </div>
                        <div class="tile-menu">
                            <div class="tile-menu__icon">
                                <img src="./img/icon/icon2.png" alt="">
                            </div>
                                <div class="tile-menu__boxing-text">
                                    <h3 class="tile-menu__item">Creatred to Make The Web Better</h3>
                                        <p class="tile-menu__text"> Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui
                                                laoreet vulputate dignissim. Sed id metus id quam auctor molestie eget ut augue.
                                        </p>
                                </div>
                         </div>
                        <div class="tile-menu">
                            <div class="tile-menu__icon">
                                <img src="./img/icon/icon3.png" alt="">
                            </div>
                                <div class="tile-menu__boxing-text">
                                    <h3 class="tile-menu__item">Creatred to Make The Web Better</h3>
                                        <p class="tile-menu__text">Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui
                                                laoreet vulputate dignissim. Sed id metus id quam auctor molestie eget ut augue.
                                        </p>
                                </div>
                        </div>
                        <div class="tile-menu">
                            <div class="tile-menu__icon">
                                <img src="./img/icon/icon4.png" alt="">
                            </div>
                                <div class="tile-menu__boxing-text">
                                    <h3 class="tile-menu__item">Creatred to Make The Web Better</h3>
                                        <p class="tile-menu__text"> Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui
                                            laoreet vulputate dignissim. Sed id metus id quam auctor molestie eget ut augue.
                                        </p>
                                </div>
                        </div>
                    </div>
                </div>
                
                <div class="block-right">
                    <div class="block-right__title">
                        <h1 class="title-here-is-what">Here is what you get</h1>
                    </div>
                        <div class="block-right__imeges">
                            <img src="./img/editor.png" alt=""/>
                        </div>
                </div>
            </div>
            <div class="imeges">
                <img src="./img/editor.png" alt=""/>
            </div>
    </div>
    
</div>