<!-- <header class="header">
    <div class="menu">
        <ul class="menu_item">
            <li>Overview</li>
            <li>About Fork</li>
            <li>Buying Options</li>
            <li>Support</li>
        </ul>
        <button>Buy Now</button>
    </div>
</header> -->