<div class="container">
    <div class="revolutionary-editor">
        <div class="revolutionary-editor__title">REVOLUTIONARY EDITOR</div>
            <p class="revolutionary-editor__text">
                Aenean cursus imperdiet nisl id fermentum Aliquam pharetra dui laoreet
                vulputate dignissim. Sed id metus id quam auctor molestie eget ut augue.
            </p>
    <div class="revolutionary-editor__menu">
        <div class="box-button">
        <button class="github-button">
            <div class="github-button__item">
                <div class="github-button__icon">
                    <i class="far fa-eye"></i>
                </div>
                    <p class="github-button__text">Watch</p>
            </div>
                    <p class="github-button__number">1,39</p>
        </button>
        <button class="github-button">
            <div class="github-button__item">
                <div class="github-button__icon">
                    <i class="far fa-star"></i>
                </div>
                    <span class="github-button__text">Star</span>
            </div>
          <span class="github-button__number">21,038</span>
        </button>
        <button class="github-button">
            <div class="github-button__item">
                <div class="github-button__icon">
                    <i class="fas fa-code-branch"></i>
                </div>
          <span class="github-button__text">Fork</span>
            </div>
          <span class="github-button__number">4,391</span>
        </button>
    </div>
</div>
    </div>
</div>