body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btnopen {
  width: 200px;
  height: 50px;
  color: #fff;
  margin-bottom: 100px;
  font-size: 18px;
  border-radius: 5px;
  margin: 20px;
}

.container {
  margin: 0 auto;
  width: 40%;
}

.modal-container {
  width: 600px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 500px;
  height: 250px;
  position: absolute;
  transition: 0,10s;

  &__header {
    width: 500px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    opacity: 0.4;
    

    &__text {
      color: #fff;
      font-size: 26px;
      margin-left: 30px;
    }
  }
  &__btn__close {
    width: 20px;
    height: 40px;
    margin-right: 31px;
    cursor: pointer;
  }
  &__text {
    color: #fff;
    font-size: 18px;
    text-align: center;
    line-height: 40px;
  }
  &__actions {
    display: flex;
    justify-content: center;
  }
  &__actions__btn {
    color: #fff;
    width: 100px;
    height: 40px;
    font-size: 15px;
    background-color: #000;
    opacity: 0.4;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
    outline-style: none;
    margin: 0 12px;
  }
}
