@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.container {
  width: 1280px;
  margin: 0 auto;
}
.header-container {
  width: 1280px;
}
.logo a {
  text-decoration: none;
}
.logoblack {
  font-family: "Roboto";
  color: black;
  font-size: 80px;
}
.logoblue {
  color: cornflowerblue;
  font-size: 80px;
}
.nav {
  width: 1280px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.nav-link {
  padding: 15px 58px 15px 58px;
  font-family: "Roboto";
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  background-color: #35444f;
  color: #ffffff;
  border: 1px solid #ffffff;
  text-align: center;
}
.nav-link:hover {
  text-decoration-line: underline;
  background-color: #253338;
}
.main-container {
  width: 1280px;
  margin-top: 40px;
}
.content {
  display: inline-block;
}
.top-img-fon {
  margin-left: 40px;
  width: 885px;
  height: 529px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000000;
}
.top-img-fon img:hover {
  animation-name: kozlik;
  animation-duration: 3s;
}
@keyframes kozlik {
  from {
    width: 320px;
    height: 381px;
  }
  to {
    width: 380px;
    height: 430px;
  }
}
.sitebar {
  width: 344px;
  border: 1px solid #000000;
  vertical-align: top;
  display: inline-block;
}
.sitebar-link {
  color: #495863;
  font-family: "Roboto";
  font-weight: normal;
  font-style: normal;
  font-size: 27px;
  line-height: 27px;
  text-decoration: none;
  display: flex;
  padding: 20px 30px;
}
.sitebar-link:hover {
  width: 254px;
  background-color: lightgray;
  color: black;
  padding-left: 60px;
}
.footer-link {
  font-size: 24px;
}
.container-text {
  padding-left: 40px;
  width: 885px;
}
.text {
  font-family: "Roboto";
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  display: flex;
  justify-content: flex-end;
  color: #2c2c2c;
}
footer {
  margin-top: 40px;
  padding: 8px 40px 8px 40px;
  width: 1280px;
  background: #63696e 48%;
  background: rgba(99, 105, 110, 0.48);
  display: flex;
}
.footer-nav {
  width: 900px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.copyright {
  width: 350px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
footer .footer-link,
footer .copyright-link {
  font-family: "Roboto";
  line-height: 28px;
  font-size: 28px;
  font-weight: normal;
  text-decoration: none;
  color: black;
}
.cornflowerblue {
  color: cornflowerblue;
}
.footer-link:hover {
  color: cornflowerblue;
  text-decoration-line:  underline;
}
.copyright-link:hover {
  color: cornflowerblue;
  text-decoration-line: underline;
}