@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

body {
    font-family: 'Ubuntu';
    font-style: normal;
    background-image: url(../img/background/Фон.jpg);
    background-size: 100%;
}
button {
    cursor: pointer;
    border-radius: 4px;
    border: none;
    outline: none;
}
.header {
    width: 100%;
    height: 58px;
    background-color: rgba(0, 0, 0, 0.4);
    position: relative;
    display: inline-flex;
    justify-content: space-between;
}
.header-left-wrap { 
    display: flex;
    align-items: center;
}
.header a {
    color: #ffffff;
    text-decoration: none;
}
.header a:hover {
    color: #01813F;
    transition: 2s;
}
.header-left a {
    font-size: 22px;
    line-height: 22px;
    font-weight: bold;
    margin-left: 79px;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}
.header-right-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-right {
    width: 350px;
    margin-right: 79px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icon {
    width: 120px;
    font-size: 23px;
    display: flex;
    justify-content: space-between;
}
.divider {
    color: #848484;
}
.right-block {
    font-size: 14px;
    line-height: 14px;
    font-weight: normal;
}
.log-in-sign-up:hover {
    color: #01813F;
    transition: 2s;
}
.calendar:hover {
    color: #01813F;
    transition: 2s;
}
.envelope:hover {
    color: #01813F;
    transition: 2s;
}
.circle:hover {
    color: #01813F;
    transition: 2s;
}
.main-container {
    padding: 30px 60px;
    width: 324px;
    background: #FFFFFF;
    position: relative;
    top: 112px;
    margin: 0 auto;
}
.cube {
    width: 18px;
    height: 18px;
    background: #3CB878;
    position: absolute;
    left: 0;
    top: 29px;
}
.registration {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.line {
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    font-size: 20px;
    color: #434343;
}
.line-login {
    font-weight: normal;
    line-height: 14px;
    font-size: 14px;
    color: #3CB878;
    text-decoration: none;
}
a.line-login:hover {
    text-decoration: underline;
    transition: 2s;
}
.button {
    display: flex;
    justify-content: center;
    margin: 15px 0 30px;
}
.button-facebook {
    margin-right: 4px;
    background-color: #305DB8;
    width: 160px;
    height: 48px;
    color: #FFFFFF;
}
.Facebook {
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
}
.button-facebook:hover {
    background: #022263;
    transition: 2s;
}
.button-google {
    background-color: #DF4A32;
    width: 160px;
    height: 48px;
    color: #FFFFFF;
}
.google {
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
}
.button-google:hover {
    background: #AB1F09;
    transition: 2s;
}
.item {
    margin: 10px;
    width: 5px;
    height: 28px;
    border-right: 1px solid rgba(54, 14, 9, 0.2);
}
.or-line {
    margin: 10px 0;
    height: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.burger {
    width: 152px;
    height: 2px;
    margin: 5px;
    display: flex;
}
.burger-item {
    width: 100%;
    height: 0;
    border: 1px solid #F2F2F2
}
.or {
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #848484;
}
.registration-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Jason {
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    width: 294px;
    height: 46px;
    padding-left: 20px;
    color: #434343;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
    border: none;
    margin-bottom: 15px;
}
.input-text {
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    width: 294px;
    height: 44px;
    margin-bottom: 15px;
    padding-left: 20px;
    color: #BEBEBE;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
}
label {
    width: 314px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.checkbox {
    display: none;
}
.checkbox-unreal { 
    color: #3CB878;
}
.checkbox-unreal:hover {
    color: #01813F;
    cursor: pointer;
    transition: 2s;
}
.checkbox-unreal- {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border: 2px solid #848484;
    border-radius: 3px;
    background-color: #ffffff;
}
.fa-check {
    opacity: 0;
}
.checkbox:checked ~ .checkbox-unreal- .fa-check {
    opacity: 1;
    color: #01813F;
}
.agree {
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #434343;
}
.agreement-label {
    margin-left: 10px;
    margin-top: 4px;
}
.link {
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
    text-decoration: none;
}
.link:hover {
    color: #01813F;
    text-decoration: underline;
    transition: 2s;
}
.input-create-account {
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    width: 324px;
    height: 46px;
    color: #FFFFFF;
    background: #3CB878 80%;
    text-align: center;
    margin: 10px 0;
}
.input-create-account:hover {
    background: #01813F;
    transition: 2s;
}