@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-style: normal;
}
.content {
    width: 100%;
}
.header-container {
    background-image: url(../img/background/section-1\(header\).jpg);
    background-attachment: fixed;
}
.container-top{
    height: 120px;
    background-color: rgba(94,93,88,0.6);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-menu {
    margin: 0 auto;
    max-width: 1160px;
    display: flex;
    justify-content: space-between;
}
.left-menu {
    width: 202px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 58px;
    height: 67px;
}
.clip {
    width: 58px;
    height: 67px;
    background-color: #18cfab;
    clip-path: polygon(50% 0, 100% 30%, 100% 70%, 50% 100%, 0% 70%, 0% 30%);
    position: absolute;
}
.clip-H {
    margin-left: 16px;
    margin-top: 16px;
    position: relative;
    font-size: 31px;
    color: #fff; 
}
.header-name {
    width: 134px;
}
header .text-white {
    color: #ffffff;
    font-size: 32px;
}
header .text-green {
    color: #18cfab;
    font-size: 32px;
}
.right-menu {
    width: 614px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
.right-menu li {
    padding-top: 49px;
    padding-bottom: 47px;
}
.right-menu li:hover {
    border-bottom: ridge #18cfab;
    padding-bottom: 45px;
}
.link {
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(255,255,255,0.6);
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
}
.link:hover {
    color: #18cfab;
}
.search {
    display: flex;
    margin-left: 21px;
    color: rgba(255,255,255,0.6);
    align-items: center;
}
.text-title {
    margin: 0 auto;
    width: 769px;
    height: 213px;
    padding-top: 266px;
    font-weight: 700px;
    font-style: normal;
    font-size: 35px;
    text-align: center;
}
.text-white {
    color: #ffffff;
}
.text-green {
    color: #18cfab;
}
.creative {
    margin-top: 22px;
    color: #ffffff;
    font-size: 78px;
}
.text-gray {
    padding-top: 22px;
    color: #D4D4D4;
    font-weight: normal;
    font-size: 34px;
}
header .block-button {
    margin: 0 auto;
    padding-top: 134px;
    padding-bottom: 243px;
    width: 350px;
    height: 70px;
}
.green-button {
    background-color: #18cfab; 
}
.blue-button {
    background-color: #00cbf6;
}
.button {
    width: 169px;
    height: 63px;
    border-width: 7px 0px 0px 0px;
    border-style: solid;
    border-radius: 5px;
    border-color: #fff;
    font-size: 15px;
    font-weight: 700;
    font-style: normal;
    line-height: 32px;
    color: #fff;
}
.main-container {
    margin-top: 8px;
}
.different-option {
    display: flex;
}
main .box-green {
    color: #fff;
    background-color: #18cfab;
}
.box-gray {
    background-color: #1c2a33;
    color: #18cfab;
}
main .box { 
    width: 25%;
    height: 377px;
    text-align: center;
    font-weight: 700px;
    font-size: 20px;
    line-height: 25px;
}
.box-icon {
    margin: 0 auto;
    padding-top: 95px;
    width: 102px;
    height: 100px;
}
.value-icon {
    margin-top: 47px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
}
.heading {
    text-align: center;
    font-weight: 400px;
    font-size: 36px;
    line-height: 40px;
    color: #4e4e4e;
}
.heading-a {
    margin-top: 83px;
    margin-bottom: 28px;
}
.our-services {
    margin: 0 auto;
    background-color: #ffffff;
    max-width: 1160px;
}
.burger-box {
    margin: 0 auto;
    width: 91px;
    height: 5px;
}
.burger {
    width: 78px;
    height: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #18cfab;
}
.burger-line {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #18cfab;
}
.burger-bottom {
    margin-left: 13px;
}
.tabs {
    margin: 69px 0px 27px 0px;
    display: flex;
    justify-content: space-between;
    background-color: #f8fcfe;
    list-style-type: none;
}
.tabs_active {
    background: #18cfab;
    cursor: default;
}
.web, .from {
    width: 195px;
    height: 40px;
    display: flex;
    justify-content: center;
    padding-top: 16px;
    color: #717171;
    line-height: 40px;
    font-size: 16px;
    font-weight: 400;
}
.from {
    color: #ffffff;
}
.tabs-nav {
    width: 195px;
    height: 73px;
    position: relative;
    border: 1.3px solid #edefef;
    box-sizing: border-box;
}
.from-block {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 192px;
    height: 73px;
    background-color: #18cfab;
    left: 0px;
    bottom: -1px;
    opacity: 0;
    transition: all 0.6s ease;  
}
.triangle {
    margin-top: 73px;
    margin-left: 80px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 20px 0px 20px;
    border-color: #18cfab transparent transparent transparent;
    position: absolute;
}
.tabs-nav:hover .from-block {
    color: #fff;
    opacity: 1;
    cursor: pointer;
}
.tab {
    display: none;
    margin-top: 23px;
    margin-bottom: 91px;
}
.is-active {
    display: flex;
}
.services-img {
    width: 192px;
    height: 139px;
}
.text-services {
    padding-left: 15px;
}
.block-installations {
    background-image: url(../img/background/Layer.jpg);
}
main .title {
    padding-top: 127px;
    padding-bottom: 15px;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    color: #18cfab;
}
.for-you {
    padding-bottom: 67px;
    font-weight: normal;
    font-size: 16px;
    line-height: 40px;
    color: #d8d8d8;
    text-align: center;
}
.box-button {
    margin: 0 auto;
    width: 170px;
    height: 65px;
    padding-bottom: 128px;
}
.amazing-work {
    background-color: #e9edef;
}
.heading-b {
    padding-top: 95px;
    margin-bottom: 24px;
}
.burger-box-b {
    padding-bottom: 68px;
}
.menu-design {
    margin: 0 auto;
    width: 582px;
    height: 58px;
    display: flex;
    justify-content: space-between;
}
.list {
    border: 1.3px solid #dadada;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 16px;
    cursor: pointer;
}
.cell {
    font-weight: normal;
    font-size: 14px;
    color: #717171;  
}
.list:hover, 
.cell:hover {
    border-color: #18cfab;
    color: #18cfab;
}
.container-amazing-work {
    margin-top: 71px;
}
.img-amazing-work {
    margin: 0 auto;
    max-width: 1140px;
    display: grid;
    grid-template-columns: 285px 285px 285px 285px;
    grid-template-rows: 211px 211px 211px;
}
.hide {
    display: none;
}
.box-img {
    width: 285px;
    height: 211px;
    position: relative;
}
.transparent-block {
    width: 285px;
    height: 211px;
    position: absolute;
    background-color: #E9EDEF;
    left: 0px;
    top: 0px;
    bottom: -1px;
    opacity: 0;
    transition: all 0.6s ease; 
}
.burger-top {
    width: 288px;
}
.text-transparent {
    text-align: center;
    width: 165px;
    margin: 0 auto
}
.box-icon-img {
    margin: 0 auto;
    padding-top: 48px;
    padding-bottom: 25px;
    width: 90px;
    height: 45px;
    background-color: #E9EDEF;
}
.line-green {
    color:  #18cfab;
    font-size: 14px;
    font-weight: 700;
    line-height: 25px;
}
.line-gray {
    color: #8A8A8A;
    font-size: 12px;
    font-weight: 300;
    line-height: 25px;
}
.box-button-a {
    margin: 0 auto;
    width: 170px;
    height: 65px;
    padding-top: 70px;
    padding-bottom: 100px;
}
#load_more {
    width: 168px;
    height: 63px;
    background-color: #18cfab;
    border-color: #18cfab;
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    line-height: 42px;
    color: #fff;
    border-radius: 5px;
}
.box-img:hover .transparent-block {
    opacity: 1;
}
.heading-c {
    margin-top: 82px;
    margin-bottom: 24px;
}
.breaking-news {
    margin: 0 auto;
    width: 1160px;
}
.breaking-news-img-box {
    margin-top: 68px;
    display: inline-flex;
    flex-wrap: wrap;
}
.col-1 {
    width: 265px;
    height: 280px;
    margin-bottom: 45px;
    margin-right: 25px;
}
.tile {
    position: relative;
}
.tile img {
    width: 100%;
}
.green-cub {
    width: 70px;
    height: 68px;
    background-color: #2b4d46;
    color: #fff;
    position: absolute;
    text-align: center;
    padding-top: 16px;
    right: 0;
    top: 0; 
}
.green-cub:hover .post{
    background-color:#18cfab;
    color: #fff;
}
.blog-post {
    width: 263px;
    height: 72px;
}
.post {
    font-size: 18px;
    font-weight: 700;
    line-height: 39px;
    text-align: center;
    color:  #717171;
}
.breaking-news-img-box .col-1:hover .post {
    color: #18cfab;
}
.breaking-news-img-box .col-1:hover .green-cub {
    background-color: #18cfab;
}
.comment {
    font-weight: 300;
    font-size: 14px;
    line-height: 39px;
    text-align: center;
    color: #777777;
}
.client-feetback {
    background-image: url(../img/background/section-3.jpg);
}
.title-people {
    color: #fff;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    padding-top: 98px;
    padding-bottom: 25px;
}
.brackets {
    margin-top: 66px;
    margin-bottom: 36px;
    text-align: center;
    font-size: 100px;
    font-weight: 700;
    color:  #18cfab;
}
.text {
    text-align: center;
    color: #bbbbbb;
    font-style: normal;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
}
.name {
    margin:0 auto;
    width: 110px;
    height: 42px;
    padding-top: 37px;
    padding-bottom: 50px;
    text-align: center;
}
.name-surname {
    font-size: 16px;
    padding-bottom: 10px; 
}
.ux {
    font-size: 13px;
    color: #fff
}
.slider-img {
    width: 60px;
    height: 59px;
    border-radius: 50px;
    border: 5px solid rgba(17, 58, 27, 0.6);
}
.slick-track {
    display: flex;
}
.slick-list {
    overflow: hidden;
}
.big-slider {
    margin: 0 auto;
    width: 1160px;
    height: 145px;
    padding-bottom: 100px;
}
.big-slider-img {
    margin-left: 45%;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 5px solid #0c3323;
}
.slider {
    margin: 0 auto;
    min-width: 0;
    width: 483px;
    height: 70px;
    position: relative;
    padding: 100px 50px 104px 50px;
}
.slider .slider_item.slick-current {
    margin-top: 0px;
}
.slider .slider_item {
    margin-top: 10px;
}
.slider .slick-arrow {
    position: absolute;
    top: 47%;
    z-index: 10;
    font-size: 0;
    width: 31px;
    height: 31px;
}
.slider .slick-arrow.slick-prev {
    left: 0;
    background: url('../img/slider/Forma2.png') 8px 6px / 35% no-repeat;
}
.slider .slick-arrow.slick-next {
    margin-left: 450px;
    background: url('../img/slider/Forma1.png') 10px 6px / 35% no-repeat;
}
.slider .slick-arrow.slick-prev:hover {
    background-color: #18cfab;
}
.slider .slick-arrow.slick-next:hover {
    background-color: #18cfab;
}
.slider .slick-dots button {
    font-size: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    font-size: 0;
}
.name-surname {
    color: #18cfab;
}
.footer-container {
    display: grid;
    grid-template-columns: 1fr;
    height: 80px;
    align-content: center;
    justify-content: center; 
    background-color: #22353f;
}
.footer {
    color: #aeaeae;
    text-align: center;
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
    line-height: 12px; 
}
.footer-green {
    color: #18cfab;
}