@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}
.content {
    background: url(../img/background/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Roboto", sans-serif;
}
.header-wrap {
    margin: 0 auto;
    margin-top: 46px;
    margin-bottom: 17px;
    width: 1028px;
    height: 61px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-wrap {
    width: 180px;
    display: flex;
}
.milan {
    text-decoration: none;
    font-weight: bold;
    font-size: 29px;
    line-height: 31px;
    color: #ffffff;
}
.holidays {
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    color: #ffffff;
}
.orange-logo {
    width: 53px;
    height: 47px;
    background: url(../img/logo/logo3.png);
    flex-shrink: 0;
}
.logo-milan-holidays {
    margin-left: 8px;
}
.logo-wrap:hover .orange-logo {
    background: url(../img/logo/logo2.png);
}
.logo-wrap:hover .logo-milan-holidays span {
    color: #f26522;
}
.contacts {
    display: block;
    justify-content: space-around;
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    line-height: 18px;
}
.contacts-mailto {
    margin-bottom: 19px;
}
.contacts-link {
    color: #ffffff;
    text-decoration: none;
}
.contacts-link:hover {
    color: #f26522;
}
.main-container {
    margin: 0 auto;
    margin-top: 17px;
    width: 1030px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.link-img {
    position: relative;
    text-decoration: none;
}
.card {
    width: 300px;
    height: 220px;
}
.from-block {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 300px;
    height: 55px;
    background: #f26522;
    bottom: 78px;
    opacity: 0;
    transition: all 0.6s ease;  
}
.text-wrap {
    margin: 8px;
}
.link-img:hover .from-block {
    opacity: 1;
}
.from {
    color: #ffffff;
    font-size: 10px;
    line-height: 10px;
    font-weight: normal;
    font-style: normal;
}
.price {
    color: #ffffff;
    font-weight: normal;
    font-style: normal;
    line-height: 20px;
    font-size: 20px;
}
.details {
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    line-height: 14px;
    color: #ffffff;
    padding-top: 29px;
}
.details::after {
    content: '>';
    margin: 14px;
}
.tours {
    width: 305px;
    height: 55px;
    color: #ffffff;
    text-align: center;
    padding-top: 20px;
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    line-height: 18px;
}
.main-container .tours:hover {
    color: #f26522;
}
.footer-container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    max-width: 306px;
    height: 80px;
    align-content: center;
    justify-content: center; 
}
.footer- {
    color: #ffffff;
    text-align: center;
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
    line-height: 12px; 
}