@import "mixin-fonts";

.footer {
    width: 90%;
    margin: 0 auto;
    padding-top: 38px;
    @include font-Roboto;
    text-align: center;
    background-color: #000;
    color: #b9b9b9;
    @media screen and (min-width: 768px) {
        padding-top: 57px;
    }
    @media screen and (min-width: 1200px) {
        padding-top: 66px;
    }
    &__container{
        width: 80%;
        margin: 0 auto;
    }
    &__title {
        padding-bottom: 8px;
        font-size: 1em; //14px;
        line-height: 1.375em; //22px;
        @include font-Roboto;
        color: #fff;
        @media screen and (min-width: 768px) {
            font-size: 1em; //16px;
            line-height: 1.375em; //22px;
            padding-bottom: 22px;
        }
    }
    &__text { 
        padding-bottom: 26px;
        font-size: 0.75em; //12px;
        line-height: 1.25em; //20px
        @media screen and (min-width: 768px) {
            font-size: 1em; //16px;
            line-height: 1.75em; //28px;
            padding-bottom: 37px;
        }
    }
    &__contacts {
        padding-top: 25px;
        padding-bottom: 70px;
        font-size: 0.875em; //14px;
        line-height: 1.5em; //24px;
        @media screen and (min-width: 768px) {
            font-size: 1em; //16px;
            line-height: 1.625em; //26px;
            padding-bottom: 56px;
        }
        @media screen and (min-width: 1200px) {
            padding-bottom: 70px;
        }
    }
}
.icon {
    width: 192px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    &__item {
        position: relative;
        width: 34px;
        height: 34px;
        color: #000;
        border-radius: 50%;
        
        &__img {
            position: absolute;
            top: 30%;
            left: 35%;
        }
    }
}
.orang {
    border: 2px solid #ffa500;
}
.dark-blue{
    border: 2px solid #00008b;
}
.blue{
    border: 2px solid #1e90ff;
}
.pink {
    border: 2px solid #c52ac5;
}
.red {
    border: 2px solid #c51313;
}
