@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


@import "reset";
@import "mixin-fonts";
@import "mixin-fonts";
@import "_header";
@import "_nav";
@import "_footer";


.container {
    width: 100%;
}