* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Della+Respira&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Della+Respira&display=swap');

body {
    background-color: #f5f7fa;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: montserrat;
}
.wrapper {
    background-color: #fff;
    display: flex;
    width: 1000px;
    margin: 0 auto;
    box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}
.sidebar {
    background-color: #29325f;
    width: 370px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.my-photo {
    width: 370px;
}

.about-me-container {
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.contacts-container {
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
}
.contacts-title {
    font-size: 22px;
    font-weight: 700px;
    line-height: 24px;
    color: #fff;
}
.contacts-link {
    font-size: 14px;
    font-weight: 400px;
    line-height: 24px;
    color: #ddd;
}
.contacts-link-type {
    font-size: 14px;
    font-weight: 700px;
    line-height: 24px;
    color: #fff;
    margin-right: 10px;
}
.contacts-link-container {
    margin-left: 5px;
    
}
.contacts-container-box {
    display: flex;
}
.title {
    margin-top: 15px;
    font-size: 22px;
    font-weight: 700px;
    line-height: 24px;
    color: #ff6d08;
}
.container {
    margin-left: 40px;
    margin-left: 40px;
    margin-top: 10px;
    color: #fff;
}
.item {
    font-size: 14px;
    font-weight: 400px;
    line-height: 24px;
    margin-left: 15px;
    color: #ff6d08;
}
.text {
    color: #fff;
}
.profession {
    font-size: 24px;
    font-weight: 700px;
    line-height: 24px;
    font-family: 'Dancing Script', cursive;   
}
.name {
    font-size: 45px;
    font-weight: 700px;
    line-height: 89px;
    font-family: 'Dancing Script', cursive;
    color: #ff6d08;
}
.description {  
    font-family: 'Della Respira', serif;
}
.info-container-item {
    padding-top: 5px;
    background-color: rgb(30, 21, 109);
    padding-bottom: 10px;
    text-align: center;
    color: #fff;
}
.info-container {
    width: 630px;
    height: 190px;
    padding-top: 40px;
    clip-path: polygon(50% 0%, 80% 0, 100% 35%, 100% 70%, 81% 100%, 50% 100%, 18% 100%, 0% 70%, 0% 35%, 19% 0);
    background-color:  #29325f;
}
.about-me-title {
    margin-top: 15px;
    margin-bottom: 5px;
}
.projects-link {
    color: #595959;
    font-size: 14px;
    font-weight: 400px;
    line-height: 24px;
}
.tech-nime {
    color: #595959;
    font-size: 14px;
    font-weight: 400px;
    line-height: 24px;
}
.dots {
    color: #bebebe;
    font-weight: 100;
}
.item {
    font-weight: 700;
    margin-left: 17px;
}
.info {
    text-align: center;
    font-size: 14px;
    font-family: 'Dancing Script', cursive;
}
.item {
    color: #595959;
}
.projects-container {
    margin-bottom: 10px;
}
.prfession-title {
    font-size: 16px;
    font-weight: 700px;
    line-height: 24px;
    margin-bottom: 5px;
}
.prfession-company {
    color: #ff7011;
}
.prfession-time {
    color: #a8a8a8;
    font-size: 12px;
    font-weight: 400px;
    line-height: 24px;
}
.prfession-divider {
    color: #000;
}
.prfession-duties {
    margin-bottom: 14px;
    margin-bottom: 10px;
}
.prfession-duties-item {
    color: #595959;
    font-size: 14px;
    font-weight: 400px;
    line-height: 24px;
}
.university {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #ff7011;
}
.cpecialty {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
}