@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
* {
    margin: 0;
}
body {
    font-family: 'Open Sans' serif;
}
body.dark {
    background-color:  #313131;
}
body.dark #btnLocalStorage {
    background: #fff;
    box-shadow: 0 0 10px rgb(219, 213, 213);
    color: #474750;
}
.container {
    width: 1900px;
    margin: 0 auto;
}
#btnLocalStorage {
    width: 200px;
    color: #000000;
    background-color: #fff;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}
#btnLocalStorage:hover {
    color: #169cb4;
}
#btnLocalStorage:focus {
    background: #d8d7eb;
    box-shadow: 0 0 10px rgb(219, 213, 213);
    color: #474750;
}
.header-container {
    background: #313131;
}
.header-container a {
    color: #ffffff;   
}
.header-menu {
    width: 1900px;
    display: inline-flex;
    align-items: center;  
    justify-content: space-between;  
}
.logo-header {
    width: 81px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-header a{
    text-decoration: none;
}
.logo-header-menu {
    width: 200px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}
.Architect {
    width: 124px;
    height: 26px;
    font-size: 22px;
    font-weight: bold;
    line-height: 30;
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center
}
.Architect a {
    text-decoration: none;
}
.link:hover {
    color: #169cb4;
}
.search:hover {
    color: #169cb4;
}
.main-menu ul {
    width: 722px;
    height: 20px; 
    font-size: 15px;
    font-weight: 600;
    line-height: 20,43px;
    font-style: normal;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-menu a {
    text-decoration: none;
}
.header-menu:hover {
    color: #14B9D5;
}
.search {
    width: 68px;
    height: 70px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;     
}
.fa-search {
    width: 17px;
    height: 17px;
    color: #ffffff; 
}
.design {
    transform: translateZ(-100px);
    position: relative;
    background-image: url(../img/header-background.jpg)
}
.title-latest-news {
    margin: 0px;
    padding-top: 164px;
    padding-bottom: 170px;
    font-size: 27px;
    font-weight: 700;
    font-style: normal;
    line-height: 37px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;  
}
.button-green {
    width: 170px;
    height: 55px;
    position: absolute;
    left: 720px;
    bottom: 74px;
    background: #89CA62;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    line-height: 25px;
}
.button-blue {
    width: 170px;
    height: 55px;
    position: absolute;
    right: 740px;
    bottom: 74px;
    background: #14B9D5;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    line-height: 25px;
}
.most-popular-posts-list {
    background-color: #F2F2F2;
    text-align: center;
}
.title {
    padding-top: 49px;
    padding-bottom: 52px;
    color: #18B4CF;
    font-size: 27px;
    font-weight: bold;
    font-style: normal;
    line-height: 37px;
}
.hotels {
    max-width: 1200px;
    display: inline-flex;  
}
.col-4 {
    width: 33.3%;
}
.tile {
    width: 370px;
    padding: 15px;
}
.tile img {
    width: 100%;
    display: block;
}
.tile .inscription {
    padding: 22px;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    line-height: 25px;
    color: #353A3D;
    background-color: #FFFFFF;
}
.line {
    padding: 22px;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    line-height: 25px;
    color: #353A3D;
}
.shape {
    background-position: 0 -195px;
    text-align: center;
    background-image: url(../img/basic-html-css_homework_homework4-Design-and-architecture_img_parallax-bg.jpg)
}
.title-most-popular {
    margin: 0px;
    padding-top: 106px;
    padding-bottom: 87px;
    color: #ffffff;
    font-size: 32px;
    font-weight: 700;
    font-style: normal;
    line-height: 43,58px;
}
.strip {
    width: 60px;
    height: 20px;
    display: inline-flex;
}
.item {
    width: 100%;
    height: 3px;
    background-color: #18B4CF;
}
.brands-wrap {
    display: flex;
    justify-content: center;
}
.logo {
    width: 1000px; 
}
.brands {
    width: 881px;
    height: 63px;
    padding-top: 106px;
    padding-bottom: 185px;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.logo {  
    padding-right: 50px;    
}
.title {
    padding-top: 49px;
    padding-bottom: 52px;
    text-align: center;
    color: #18B4CF;
    font-size: 27px;
    font-weight: 700;
    font-style: normal;
    line-height: 36,77px;
}
.grid-line {
    display: grid;
    width: 1900px;
    grid-template-columns: repeat(6, 1fr);
}
.Kids-Store {
    width: 100%;
    height: 100%;
}
.hot-news-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-gap: 20px;
    max-width: 1130px;
    margin: 0 auto 50px auto;
}
.hot-news-item {
    background-color: #f9f7f7;
    text-decoration: none;
    color: #353a3d;
}
.news-type-a {
    grid-column: 1/span 3;
    display: inline-flex;
}
.news-type-b {
    grid-column: 1/span 2;
}
.news-type-c {
    grid-column: 3/span 2;
}
.news-type-d {
    grid-column: 2/span 3;
    display: inline-flex;
}
.hot-news-item-type-a-img {
    width: 60%;
    vertical-align: middle;
}
.item-title {
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    line-height: 25px;
    color: #353A3D;
    text-align: center;
}
.basic-text {
    margin: 20px;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    line-height: 21px;
    color: #5B6469;
    text-align: right;
}
footer {
    background-color: #1d2124;
}
.footer-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1160px;
    height: 80px;
    margin: 0 auto;
    align-content: center;
}
.info {
    margin-top: 8px;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    color: white;
}
.logo-footer {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
}
.logo-footer-img { 
    vertical-align: top;
}