@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
body {
    width: 1197px;
    margin: 0 auto;
}
#wraper {
    width: 1197px;
    background-color: #3A4965;
}
.header {
    width: 1197px;
    border: 7px solid #3A4965;
}
table {
    border: 30px solid #3A4965;
    border-collapse: collapse;
}
td {   
    width: 200px;
    height: 160px;
    font-family: "Arimo";
    font-style: normal;
    font-weight: normal;
    text-align: center;
    font-size: 16px;
    line-height: 28px;
    border: 1px solid #000;
    padding: 4px 7px;
    color: #484848;
    text-align: center;
    background: #FAFAFA;
}
th {
    width: 160px;
    height: 115px;
    font-family: "Arimo";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    border: 1px solid #000;
    padding: 4px 7px;
    color: #484848;
    background: #FAFAFA;
}
.pricing-plan {
    font-family: "Arimo";
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 28px;
}
.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 10px;
    left: 20px;
    color: #848484;
}
.icon i {
    font-size: 24px;
    line-height: 28px;
}
.grin {
    font-family: "Arimo";
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 28px;
    background: #89C331;
    color: #ffffff;
    position: relative;
}
.read {
    font-family: "Arimo";
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 28px;
    background: #F04A56;
    color: #ffffff;
    position: relative;
}
.turguoise {
    font-family: "Arimo";
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 28px;
    background: #20807C;
    color: #ffffff;
    position: relative;
}

.money {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 28px;
}
.coins {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #ffffff; 
    position: absolute;
    top: 50px;
}
.month {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    color: #ffffff;
  }
.buy-now {
    width: 150px;
    height: 45px;
    border-width: 1px 1px 7px 1px;
    border-style: solid  #343434;
    border-radius: 5px;
    background: #414141;
    color: #ffffff;
    left: 50px;
    top: 15px;
}
.dark {
    background: #E3E3E3;
}
.light {
    background: #F2F2F2;
}