<div class="container">
    <header class="header">
        <div class="wrapper">
            <div class="header__body">
                <div class="header__burger">
                    <span class="header__burger__item"></span>
                    <span class="header__burger__a"></span>
                </div>
                    <nav class="header__menu">
                        <ul class="header__list">
                            <li>
                                <a href="" class="header__link">HOME</a>
                            </li>
                            <li>
                                <a href="" class="header__link">ABOUT US</a>
                            </li>
                            <li>
                                <a href="" class="header__link">OUR JOURNAL</a>
                            </li>
                            <li>
                                <a href="" class="header__link">PROJECTS</a>
                            </li>
                            <li>
                                <a href="" class="header__link">NEWS</a>
                            </li>
                            <li>
                                <a href="" class="header__link">FEATURES</a>
                            </li>
                            <li>
                                <a href="" class="header__link">CONTACT</a>
                            </li>
                        </ul>
                    </nav>
            </div>
        </div>  
    </header>
        <div class="header-image"></div>   
</div>