<div class="container">
    <h3 class="title-posts">-OUR RECENT POSTS</h3>
        <div class="post">
            <div class="post__tile">
                <img class="post__imeges" src="./img/post/post-img1.jpg" alt="">
                    <div class="post__text">
                        <h2 class="post__title">Aenean Adipiscing Etiam Vestibulum</h2>
                            <span class="post__comments">Photography, Journal   /   9 Comments</span>
                                <p class="post__paragraph">Etiam porta sem malesuada euismod. Aenean leo quam.
                                    Pellentesque ornare sem lacinia quam venenatis vestibulum.
                                </p>
                    </div>
            </div>
            <div class="post__tile">
                <img class="post__imeges" src="./img/post/post-img2.jpg" alt="">
                    <div class="post__text">
                        <h2 class="post__title">Aenean Adipiscing Etiam Vestibulum</h2>
                            <span class="post__comments">Photography, Journal   /   9 Comments</span>
                                <p class="post__paragraph">Etiam porta sem malesuada euismod. Aenean leo quam.
                                    Pellentesque ornare sem lacinia quam venenatis vestibulum.
                                </p>
                    </div>
            </div>
            <div class="post__tile">
                <img class="post__imeges" src="./img/post/post-img3.jpg" alt="">
                    <div class="post__text">
                        <h2 class="post__title">Aenean Adipiscing Etiam Vestibulum</h2>
                            <span class="post__comments">Photography, Journal   /   9 Comments</span>
                                <p class="post__paragraph">Etiam porta sem malesuada euismod. Aenean leo quam.
                                    Pellentesque ornare sem lacinia quam venenatis vestibulum.
                                </p>
                    </div>
            </div>
            <div class="post__tile">
                <img class="post__imeges" src="./img/post/post-img4.jpg" alt="">
                    <div class="post__text">
                        <h2 class="post__title">Aenean Adipiscing Etiam Vestibulum</h2>
                            <span class="post__comments">Photography, Journal   /   9 Comments</span>
                                <p class="post__paragraph">Etiam porta sem malesuada euismod. Aenean leo quam.
                                    Pellentesque ornare sem lacinia quam venenatis vestibulum.
                                </p>
                    </div>
            </div>
        </div>
        
        <div class="box-instagram">
            <div class="box-instagram__title">
                <h3 class="instagram-left">-LAST INSTAGRAM SHOT</h3>
                <h3 class="instagram-right">GO TO OUR INSTAGRAM PAGE-</h3>
            </div>
        <div class="box-instagram__imeges">
                <div>
                    <img class="box-instagram__imeges__post-1" src="./img/instagram/post-1.jpg" alt="">
                </div>
                <div>
                    <img class="box-instagram__imeges__post-2" src="./img/instagram/post-2.jpg" alt="">
                </div>
                <div>
                    <img class="box-instagram__imeges__post-2" src="./img/instagram/post-3.jpg" alt="">
                </div> 
                <div>
                    <img class="box-instagram__imeges__post-4" src="./img/instagram/post-4.jpg" alt="">
                </div>
        </div>
        
</div>